
.buckraund {

.right {
display: flex;
flex-direction: column;
.img_right1 {
    width: 550px;
.btn {
background-image:url(https://m.media-amazon.com/images/I/71FkZVtLUhL._AC_SX425_.jpg);
}}
.img_right2 {
    width: 100px;}}


}