.buckraund {
  width: 1440px;
  display: flex;
}
.buckraund .right {
  max-width: 550px;
  display: flex;
  flex-direction: column;
}
.buckraund .right p {
  padding-left: 150px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 5 0;
}
.buckraund .right .img_right1 {
  width: 550px;
}
.buckraund .right .btn {
  background-image: url("https://m.media-amazon.com/images/G/01/share-icons/share-std.svg");
  border-radius: 50%;
  height: 28px;
  width: 28px;
  left: 500px;
  top: 20px;
  border: 2px solid green;
  position: absolute;
  cursor: pointer;
}
.buckraund .right .btn:hover {
  background-color: rgb(228, 10, 10);
}
.buckraund .right .img_right2 {
  width: 100px;
}
.buckraund .centr {
  margin-left: 10px;
  width: 430px;
  display: flex;
  flex-direction: column;
}
.buckraund .centr h1 {
  margin-top: 0px;
}
.buckraund .centr .centr2:after {
  content: "";
  background-color: transparent;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top: 1px solid #e7e7e7;
  display: block;
  height: 1px;
  line-height: 19px;
  margin-bottom: 14px;
  margin-top: 2px;
}
.buckraund .centr .centr3 h2 {
  margin: 0 0;
}
.buckraund .centr .centr3 span {
  color: rgb(224, 169, 66);
}
.buckraund .centr .centr4 {
  margin: 0 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.buckraund .centr .centr4 span {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.buckraund .centr .centr5 {
  display: flex;
  gap: 10px;
}
.buckraund .centr .centr5 .a_centr5 .img_centr5 {
  width: 36px;
  height: 26px;
}
.buckraund .centr .centr5 .active {
  margin: 10 10;
  cursor: pointer;
  padding: 5px 10px 5px 11px;
  background-color: #f3eee7;
  border: 2px solid orange;
}
.buckraund .centr .centr5 .active:hover {
  background-color: rgb(113, 116, 121);
}
.buckraund .centr .centr5 .disable {
  margin: 10 10;
  padding: 5px 10px 5px 11px;
  background-color: #f3eee7;
  background-color: transparent;
  border: 2px dashed rgb(224, 219, 219);
  font-size: 13px;
  cursor: pointer;
}
.buckraund .centr .centr5 .disable:hover {
  background-color: rgb(241, 227, 227);
}
.buckraund .centr .centr6 {
  width: 430px;
}
.buckraund .centr .centr6 .td1 {
  padding-top: 5px;
  color: rgb(41, 39, 36);
  font-weight: 700;
  width: 20px;
}
.buckraund .centr .centr6 .td2 {
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(133, 125, 113);
  font-weight: 500;
  padding-left: 10px;
}
.buckraund .centr .centr6::after {
  content: "";
  background-color: transparent;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top: 1px solid #e7e7e7;
  display: block;
  height: 1px;
  line-height: 19px;
  margin-bottom: 14px;
  margin-top: 0;
}
.buckraund .centr .centr7 {
  display: flex;
  flex-direction: column;
  width: 500px;
  font-family: Arial, sans-serif;
  color: #46413a;
}
.buckraund .centr .centr7 h2 {
  margin-bottom: 5px;
}
.buckraund .centr .centr7 ul {
  margin-top: 5px;
}
.buckraund .centr .centr7 li {
  padding-top: 5px;
}
.buckraund .centr .centr7 a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(20, 65, 65);
}
.buckraund .centr .centr7 a span {
  color: orange;
}
.buckraund .centr .centr7::after {
  content: "";
  background-color: transparent;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top: 1px solid #e7e7e7;
  display: block;
  height: 1px;
  line-height: 19px;
  margin-bottom: 14px;
  margin-top: 0;
}
.buckraund .centr .centr8 {
  display: flex;
}
.buckraund .centr .centr8 img {
  width: 150px;
  height: 100px;
}
.buckraund .centr .centr8 .centr8_div {
  padding-left: 10px;
}
.buckraund .centr .centr8 .centr8_div a {
  text-decoration: none;
  color: rgb(136, 187, 17);
}
.buckraund .centr .centr8 .centr8_div .centr8_p {
  color: #f19b21;
}
.buckraund .centr .centr9 span {
  font-weight: 700;
}
.buckraund .left .left_div1 {
  width: 240px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 100px;
  border: 2px solid rgb(157, 194, 236);
}
.buckraund .left .left_div1 .left_a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(11, 102, 102);
}
.buckraund .left .left_div1 .left_a .btn2 {
  background-image: url(https://m.media-amazon.com/images/S/sash/kIT-Lj9i1Bch8yi.png);
  width: 15px;
  height: 17px;
  border-radius: 100%;
  background-repeat: no-repeat;
}
.buckraund .left .leftdiv2 {
  padding-top: 20px;
  padding-bottom: 10px;
}
.buckraund .left .leftdiv2 button {
  width: 200px;
  height: 40px;
}
.buckraund .left .leftdiv2::after {
  content: "";
  background-color: transparent;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top: 1px solid #b6a9a9;
  display: block;
  height: 1px;
  line-height: 19px;
  margin-bottom: 14px;
  margin-top: 30px;
}
.buckraund .left .leftdiv3 button {
  width: 200px;
  height: 40px;
}/*# sourceMappingURL=style.css.map */